<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="pdf.css">
  </head>
  <body width="200px">
    <h1 id="title">履歴書</h1>

    <table class="bt-bold bl-bold br-bold" id="profile-top">
        <tr class="w-40">
          <td class="br bb-dotted">ふりがな</th>
          <td>性別</th>
        </tr>
      
        <tr>
          <td class="br td-2 w-80">氏名</td>
          <td class="td-2 ta-center w-20">男・女</td>
        </tr>
    </table>

    <table class="bt-bold bl-bold br-bold bb" id="profile-middle">
      <tr>
        <td colspan="5" class="bt bb-dotted">ふりがな</td>
      </tr>
      <tr>
        <td colspan="4" class="bb td-3 va-top">現住所　〒</td>
      </tr>

      <tr>
        <td colspan="2" class="bb br td-2">TEL</td>
        <td colspan="2" class="bb td-2">携帯電話</td>
      </tr>

      <tr>
        <td colspan="2" class="br td-2">FAX</td>
        <td colspan="2" class="td-2">E-mail</td>
      </tr>
          
    </table>

    <table class="bl-bold bb-bold br-bold" id="profile-bottom">
      <tr>
        <td colspan="2" class="bb-dotted br">ふりがな</td>
        <td colspan="2" class="">TEL</td>
      </tr>
      <tr>
        <td colspan="2" class="br bb-bold td-3 va-top">連絡先 〒</td>
        <td colspan="1" class="bb br-bold td-3"></td>
      </tr>
    
    </table>


    <table id="career" class="b-bold">
      <tr>
        <th class="ta-center br">年</th>
        <th class="ta-center br-semibold">月</th>
        <th class="ta-center br">学歴・職歴など（項目別にまとめて記入）</th>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td></td>
      </tr>

    </table>

  </body>
</html>

